<div class="row">
    <div class="container">
        <div class="jumbotron">
            <h1>Clocking UMH</h1>
            <p class="lead">
                A utility to log extra hours.
            </p>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Authors</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Miguel A. Gavidia</li>
                    <li class="list-group-item">Ian A. Merin</li>
                    <li class="list-group-item">Rafael A. De Armas</li>
                    <li class="list-group-item">Marcos De Arruda Correa</li>
                </ul>
            </div>
        </div>
    </div>
</div>