<div class="row">
    <div class="container">
        <form role="form" ng-submit="submit()">
            <div class="form-group">
                <label for="inputEmail" class="pull-right">Email address</label>
                <input ng-model="email" type="email" class="form-control" id="inputEmail" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="inputPassword" class="pull-right">Password</label>
                <input ng-model="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-info pull-right">Login</button>
        </form>
    </div>
</div>