<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            Clocking UMH
            <small>
              <a href="https://bitbucket.org/mgavidia/clocking-umh">
                v<%= version %>
              </a>
            </small>
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed" ng-click="menuCollapsed = doCollapse(menuCollapsed)">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="home">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
              <li class="dropdown" ui-sref-active="active" ng-if="isLoggedOn()">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-list"></i> Records <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li ui-sref-active="active" ng-if="isLoggedOn()">
                          <a href ui-sref="records">
                              <i class="fa fa-edit"></i>
                              View All
                          </a>
                      </li>
                      <li class="divider"></li>
                      <li ui-sref-active="active" ng-if="isLoggedOn()">
                          <a href ui-sref="add">
                              <i class="fa fa-plus"></i>
                              Add
                          </a>
                      </li>
                  </ul>
              </li>
              <li ui-sref-active="active" ng-if="isLoggedOn()">
                  <a href ui-sref="account">
                      <i class="fa fa-user"></i>
                      My Information
                  </a>
              </li>
              <li ui-sref-active="active" ng-if="isLoggedOn()">
                  <a href ui-sref="about">
                      <i class="fa fa-info-circle"></i>
                      Help
                  </a>
              </li>
              <li ui-sref-active="active" ng-if="isLoggedOn()">
                  <a id="logout" ng-href='#logout' ng-click="logout()">
                      <i class="fa fa-sign-out"></i>
                      Logout
                  </a>
              </li>

              <li ui-sref-active="active" ng-if="isLoggedOn() == false">
                  <a href ui-sref="login">
                      <i class="fa fa-sign-in"></i>
                      Login
                  </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div ng-if="alertInfo().active">
        <div class="container">
            <div class="alert {{alertInfo().type}}" role="alert">{{alertInfo().message}}</div>
        </div>
    </div>

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <p>
            (c) 2014 <a href="https://bitbucket.org/mgavidia">Miguel A. Gavidia</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
