<div class="row">
    <div class="container">
        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputDate">Date</label>
                    <input ng-model="date" type="date" class="form-control" id="inputDate">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <label for="startTime">Start Time</label>
                    <input ng-model="start" type="time" class="form-control" id="startTime">
                </div>
                <div class="col-sm-6">
                    <label for="endTime">End Time</label>
                    <input ng-model="end" type="time" class="form-control" id="endTime">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputPatientName">Patients Name</label>
                    <input ng-model="patient" type="text" class="form-control" id="inputPatientName" placeholder="Enter name of patient">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputDiagnosis">Diagnosis</label>
                    <textarea ng-model="diagnosis" class="form-control" id="inputDiagnosis" placeholder="Enter diagnosis" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputSurgeonName">Surgeons Name</label>
                    <input ng-model="surgeon" type="text" class="form-control" id="inputSurgeonName" placeholder="Enter name of surgeon">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputProcedure">Surgical Procedure</label>
                    <input ng-model="procedure" type="text" class="form-control" id="inputProcedure" placeholder="Enter procedure">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputModifiers">Modifiers</label>
                    <select ng-model="modifier_id" class="form-control" id="inputModifiers">
                        <option ng-repeat="modifier in modList" value="{{modifier.modifier.id}}" ng-selected="{{modifier.modifier.id == modifier_id}}">{{modifier.modifier.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputASAStatus">ASA Status</label>
                    <select ng-model="asa_status_id" class="form-control" id="inputASAStatus">
                        <option ng-repeat="status in asaList" value="{{status.asa_status.id}}" ng-selected="{{status.asa_status.id == asa_status_id}}">{{status.asa_status.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputNotes">Additional Notes</label>
                    <textarea ng-model="notes" class="form-control" id="inputNotes" placeholder="Enter any additional notes" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputAttachment">Attachment</label>
                    <input ng-model="fileUpload" class="form-control" type="file" id="inputAttachment">
                    <p class="help-block">Upload attachment.</p>
                </div>
                <div ng-if="attachment" class="col-sm-12">
                    <label><a href="{{attachment}}" target="_blank">Current File</a></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="signatureImage">Signature</label><br>
                    <canvas class="signature" width="280" style="border: 2px solid black" id="signatureImage"></canvas>
                    <p class="help-block"><span ng-click="resetSignature()" class="btn btn-default"><i class="fa fa-eraser"></i> Clear</span> Please sign with your signature.</p>
                </div>
            </div>
            <button type="submit" class="btn btn-info pull-right">{{recordButton}}</button>
        </form>
    </div>
</div>