<div class="row">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Record #</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="{{getStatus(record.record.status)}}" ng-repeat="record in records">
                    <td>{{record.record.id}}</td>
                    <td>{{record.record.date}}</td>
                    <td>
                        {{record.record.status}}
                        <a href ui-sref="edit({recordID: record.record.id})" class="btn btn-default pull-right" type="button">
                            View
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>