<div class="row">
    <div class="container">
        <div class="jumbotron">
          <h1>Clocking UMH</h1>

          <p class="lead">
            A utility to log extra hours.
          </p>

          <div class="btn-group" ng-if="isLoggedOn()">
            <a href ui-sref="add" class="btn btn-large btn-info">
              <i class="fa fa-plus"></i>
              Add New Record
            </a>
            <a href ui-sref="records" class="btn btn-large btn-success" ng-if="isLoggedOn()">
              <i class="fa fa-edit"></i>
              Existing Records
            </a>
          </div>

        </div>
    </div>
</div>

