<div class="row">
    <div class="container">
        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">
                <div class="col-sm-12">
                    <label>Physician ID</label>
                    <p class="form-control-static">{{id}}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label>Name</label>
                    <p class="form-control-static">{{name}}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputTelephone">Telephone</label>
                    <input ng-model="phone" type="phone" class="form-control" id="inputTelephone">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputEmail">Email</label>
                    <input ng-model="email" type="email" class="form-control" id="inputEmail" placeholder="Enter email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputDepartment">Department</label>
                    <select ng-model="department" class="form-control" id="inputDepartment">
                        <option ng-repeat="dept in depts" value="{{dept.department.id}}" ng-selected="{{dept.department.id == department}}">{{dept.department.code}} - {{dept.department.description}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="inputSupervisor">Supervisor</label>
                    <input ng-model="supervisor" type="text" class="form-control" id="inputSupervisor" placeholder="Input your supervisor">
                </div>
            </div>
            <button type="submit" class="btn btn-info pull-right">Save Changes</button>
        </form>
    </div>
</div>